<a href="https://colab.research.google.com/github/ulyseshrrs/edd_1358_2021/blob/master/19octubre_1358.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#read()
archivo = open('frutas.txt','rt')

data = archivo.read()
print(data.upper())

archivo.close()

LIMON, AGUACATE, FRESA, MANZANA,
CIRUELA, CAPULIN, NARANJA,
PERA, KIWI

In [10]:
#readline()
archivo = open('frutas.txt','rt')
print(archivo.readline()) #solo leé una linea
print(archivo.readline())
print(archivo.readline())
archivo.close()

LIMON, AGUACATE, FRESA, MANZANA,

CIRUELA, CAPULIN, NARANJA,

PERA, KIWI

In [12]:
#readline()
archivo = open('frutas.txt','rt')
data = archivo.readline()
while data !="":
  print (data)
  data = archivo.readline()  
archivo.close()

LIMON, AGUACATE, FRESA, MANZANA,

CIRUELA, CAPULIN, NARANJA,

PERA, KIWI

In [15]:
# readlines()

archivo = open ('frutas.txt','rt')

data = archivo.readlines() #data es una lista
print (data)

frutas=[]
for linea in data:
    frutas.append(linea.strip())

frutas_final = []
for elem in frutas:
    for fruta in elem.split(','):
        frutas_final.append(fruta.strip())

print(frutas_final)
archivo.close()

['LIMON, AGUACATE, FRESA, MANZANA, \n', 'CIRUELA, CAPULIN, NARANJA,\n', 'PERA, KIWI']
['LIMON', 'AGUACATE', 'FRESA', 'MANZANA', '', 'CIRUELA', 'CAPULIN', 'NARANJA', '', 'PERA', 'KIWI']

In [ ]:
#POO con python
-Clases
-Objetos
-Atributos
-Metodos
-Método constructor
-Encapsulamientiento (publico y privado)

Declarar clase en python se usa la palabra reservada Class

In [21]:

class Persona:
  def __init__( self , edd , est ): #Declaración y encapsulamiento __ dos guiones bajos, onjetos se declaran son self
      self.__edad = edd
      self.__estatura = est
      print("Hola desde el constructor")

  def to_string( self ):
     print(f"Edad={self.__edad}, est={self.__estatura}")

per1 = Persona(23,1.178)
per1.to_string()  
per1.estatura = 10.4
per1.to_string()

Hola desde el constructor
Edad=23, est=1.178
Edad=23, est=1.178